In [35]:
import os
import pandas as pd
from tqdm import tqdm
import numpy as np

In [36]:
OUT_PATH = 'nodes'
SCHEMAS = 'node_template/submission_molecular_test_template.tsv'

In [37]:
#read the diagnosis node header
molecular_test_node = pd.read_csv(SCHEMAS, sep = '\t')
molecular_test_node.drop(index=molecular_test_node.index[0], 
        axis=0, 
        inplace=True)
molecular_test_node

Empty DataFrame
Columns: [*type, project_id, *submitter_id, aliquots.submitter_id, *follow_ups.submitter_id, blood_test_normal_range_lower, blood_test_normal_range_upper, days_to_test, gene_symbol, laboratory_test, molecular_analysis_method, test_result, test_unit, test_value]
Index: []

In [38]:
labs_df = pd.read_csv('csv_datasets/LABS.csv')
labs_df

,usubjid,site,redcap_event_name,redcap_repeat_instrument,redcap_repeat_instance,labsnd,labs_source,labdat,hemnd___999,hemdat,...,hcv_abs,hcv_absdat,hcv_lognd___999,hcv_log,hcv_logdat,labs_sourcedat,altx3,labs_sourcesig,labs_complete,visitnd
0,11001,Cleveland Clinic,Week 0,NaN,NaN,Yes,Direct data entry into REDCap (No paper CRF),2019-05-21,NaN,2019-05-21,...,NaN,NaN,NaN,NaN,NaN,2019-05-31,48.0,signature_2019-05-31_0915.png,Complete,NaN
1,11002,Cleveland Clinic,Week 0,NaN,NaN,Yes,Paper CRF to be entered in REDCap,2019-05-21,NaN,2019-05-21,...,NaN,NaN,NaN,NaN,NaN,2019-05-30,54.0,NaN,Complete,NaN
2,11003,Cleveland Clinic,Week 0,NaN,NaN,Yes,Paper CRF to be entered in REDCap,2019-05-24,NaN,2019-05-24,...,NaN,NaN,NaN,NaN,NaN,NaN,291.0,NaN,Complete,NaN
3,11003,Cleveland Clinic,Week 4,NaN,NaN,Yes,Paper CRF to be entered in REDCap,2019-06-27,NaN,2019-06-27,...,NaN,NaN,NaN,NaN,NaN,NaN,120.0,NaN,Complete,NaN
4,11003,Cleveland Clinic,Week 12,NaN,NaN,Yes,Paper CRF to be entered in REDCap,2019-09-20,NaN,2019-09-20,...,NaN,NaN,NaN,NaN,NaN,NaN,69.0,NaN,Complete,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2940,81149,Virginia Commonwealth University,Week 0,NaN,NaN,Yes,NaN,2022-08-26,NaN,2022-08-26,...,NaN,NaN,NaN,NaN,NaN,NaN,132.0,NaN,Complete,NaN
2941,81150,Virginia Commonwealth University,Week 0,NaN,NaN,Yes,NaN,2022-08-31,NaN,2022-08-31,...,NaN,NaN,NaN,NaN,NaN,NaN,27.0,NaN,Complete,NaN
2942,81151,Virginia Commonwealth University,Week 0,NaN,NaN,Yes,NaN,2022-09-14,NaN,2022-09-14,...,NaN,NaN,Not Done,NaN,NaN,NaN,51.0,NaN,Complete,NaN
2943,81152,Virginia Commonwealth University,Week 0,NaN,NaN,Yes,NaN,2022-09-16,NaN,2022-09-16,...,NaN,NaN,NaN,NaN,NaN,NaN,165.0,NaN,Complete,NaN
2944,81153,Virginia Commonwealth University,Week 0,NaN,NaN,Yes,NaN,2022-09-21,NaN,2022-09-20,...,NaN,NaN,NaN,NaN,NaN,NaN,48.0,NaN,Complete,NaN

In [39]:
aki_cystatin_df = pd.read_csv('csv_datasets/Aki_ELISA_Cystatin-C_Final Data.csv')
aki_cystatin_df_barcode = list(aki_cystatin_df.Barcode)
aki_cystatin_df

,Subject ID,Last Time point for every subject,Barcode,Specimen Type,Site,Shipping Box,Position,TJ- NO,OD Values,Plate Conc (pg/mL),* Dilution Factor,Plasma Conc (mg/L)
0,11058,Base line,11058R000PP07,Platelet poor plasma,Mehal,Box1,41,1,0.3020,369.8,1.109371e+06,1.109371
1,11058,28 day,11058R028PP07,Platelet poor plasma,Mehal,Box1,53,2,0.2710,338.2,1.014489e+06,1.014489
2,11066,Base line,11066R000PP07,Platelet poor plasma,Mehal,Box1,55,3,0.4055,474.0,1.421935e+06,1.421935
3,11066,28 day,11066R028PP07,Platelet poor plasma,Mehal,Box1,61,4,0.6070,677.4,2.032150e+06,2.032150
4,11067,Base line,11067R000PP07,Platelet poor plasma,Mehal,Box1,63,5,0.1790,241.6,7.248403e+05,0.724840
...,...,...,...,...,...,...,...,...,...,...,...,...
187,81077,Base line,81077R000PP06,Platelet poor plasma,Mehal,Box5,35,188,0.2510,295.9,8.877778e+05,0.887778
188,81080,Base line,81080R000PP06,Platelet poor plasma,Mehal,Box6,4,189,0.3975,463.3,1.389773e+06,1.389773
189,81091,Base line,81091R000PP06,Platelet poor plasma,Mehal,Box8,42,190,0.4835,560.9,1.682618e+06,1.682618
190,81096,Base line,81096R000PP06,Platelet poor plasma,Mehal,Box8,40,191,0.6885,797.1,2.391333e+06,2.391333
191,81108,Base line,81108R000PP04,Platelet poor plasma,Mehal,Box8,56,192,0.4040,470.6,1.411889e+06,1.411889

In [40]:
#Read follow up node data
follow_up_node_pd = pd.read_csv('nodes/follow_up_node.tsv', sep = '\t')
follow_up_node_pd

,*type,project_id,*submitter_id,cases.submitter_id,demographics.submitter_id,*days_to_follow_up,admission_date,ascites_culture,ascites_culture_result,ascites_date,...,visit_day,weight,xray,xray_date,xray_findings,xray_impression,xray_infiltrates,xray_last_4_weeks,xray_normal,xray_pleural_effusion
0,follow_up,ardac-p1031,11001_obs_0,11001_obs,NaN,0,NaN,NaN,NaN,NaN,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,follow_up,ardac-p1031,11002_obs_0,11002_obs,NaN,0,NaN,NaN,NaN,NaN,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,follow_up,ardac-p1031,11003_obs_0,11003_obs,NaN,0,NaN,NaN,NaN,NaN,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,follow_up,ardac-p1031,11003_obs_28,11003_obs,NaN,28,NaN,NaN,NaN,NaN,...,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,follow_up,ardac-p1031,11003_obs_84,11003_obs,NaN,84,NaN,NaN,NaN,NaN,...,84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2792,follow_up,ardac-p1031,81149_obs_0,81149_obs,NaN,0,NaN,NaN,NaN,NaN,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2793,follow_up,ardac-p1031,81150_obs_0,81150_obs,NaN,0,NaN,NaN,NaN,NaN,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2794,follow_up,ardac-p1031,81151_obs_0,81151_obs,NaN,0,NaN,NaN,NaN,NaN,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2795,follow_up,ardac-p1031,81152_obs_0,81152_obs,NaN,0,NaN,NaN,NaN,NaN,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2796,follow_up,ardac-p1031,81153_obs_0,81153_obs,NaN,0,NaN,NaN,NaN,NaN,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
#calculate the redcap_event_name time
def get_redcap_event_name(value):
    if 'Week' in value:
        week_to_day = int(value.split(' ')[-1]) * 7
        #print('Week_to_day: ', week_to_day)
        return week_to_day
    elif 'Day' in value:
        day_to_day = int(value.split(' ')[-1])
        #print('Day_to_day: ', day_to_day)
        return day_to_day
    elif 'Screening' in value:
        screening_to_day = 0
        #print('Screening_to_day: ', screening_to_day)
        return screening_to_day
    
    ##need to be clarify
    elif 'Medical Record Follow-up Arm' in value:
        #record_to_day = int(value.split(' ')[-1]) * 9999
        #print('Medical_Record_to_day: ', -1)
        return -1
    
def check_lab_result(labs_row, test_name):
    test_value = labs_row.iloc[0][test_name]
    return [test_name, test_value]
    
def row_init(len):
    row = [None]*len
    return row

def set_column_value(df, col_name, row, value):
    index= df.columns.get_loc(col_name)
    row[index] = value
    return row

In [42]:
import math
labs_df["follow_up_submitter_id"] = np.nan
labs_df["days_to_follow_up"] = np.nan
for index,row in tqdm(labs_df.iterrows(),total=labs_df.shape[0],desc="process enrollment"):
    days_to_follow_up = str(get_redcap_event_name(row.redcap_event_name))
    case_submitter_id = row.usubjid
    follow_up_submitter_id = str(case_submitter_id) + '_' + days_to_follow_up
    labs_df.at[index, 'follow_up_submitter_id'] = follow_up_submitter_id
    labs_df.at[index, 'days_to_follow_up'] = days_to_follow_up
    
labs_df.drop(labs_df[labs_df['days_to_follow_up'] == -1].index, inplace = True)
labs_df

process enrollment: 100%|████████████████| 2945/2945 [00:00<00:00, 10091.31it/s]

,usubjid,site,redcap_event_name,redcap_repeat_instrument,redcap_repeat_instance,labsnd,labs_source,labdat,hemnd___999,hemdat,...,hcv_lognd___999,hcv_log,hcv_logdat,labs_sourcedat,altx3,labs_sourcesig,labs_complete,visitnd,follow_up_submitter_id,days_to_follow_up
0,11001,Cleveland Clinic,Week 0,NaN,NaN,Yes,Direct data entry into REDCap (No paper CRF),2019-05-21,NaN,2019-05-21,...,NaN,NaN,NaN,2019-05-31,48.0,signature_2019-05-31_0915.png,Complete,NaN,11001_0,0
1,11002,Cleveland Clinic,Week 0,NaN,NaN,Yes,Paper CRF to be entered in REDCap,2019-05-21,NaN,2019-05-21,...,NaN,NaN,NaN,2019-05-30,54.0,NaN,Complete,NaN,11002_0,0
2,11003,Cleveland Clinic,Week 0,NaN,NaN,Yes,Paper CRF to be entered in REDCap,2019-05-24,NaN,2019-05-24,...,NaN,NaN,NaN,NaN,291.0,NaN,Complete,NaN,11003_0,0
3,11003,Cleveland Clinic,Week 4,NaN,NaN,Yes,Paper CRF to be entered in REDCap,2019-06-27,NaN,2019-06-27,...,NaN,NaN,NaN,NaN,120.0,NaN,Complete,NaN,11003_28,28
4,11003,Cleveland Clinic,Week 12,NaN,NaN,Yes,Paper CRF to be entered in REDCap,2019-09-20,NaN,2019-09-20,...,NaN,NaN,NaN,NaN,69.0,NaN,Complete,NaN,11003_84,84
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2940,81149,Virginia Commonwealth University,Week 0,NaN,NaN,Yes,NaN,2022-08-26,NaN,2022-08-26,...,NaN,NaN,NaN,NaN,132.0,NaN,Complete,NaN,81149_0,0
2941,81150,Virginia Commonwealth University,Week 0,NaN,NaN,Yes,NaN,2022-08-31,NaN,2022-08-31,...,NaN,NaN,NaN,NaN,27.0,NaN,Complete,NaN,81150_0,0
2942,81151,Virginia Commonwealth University,Week 0,NaN,NaN,Yes,NaN,2022-09-14,NaN,2022-09-14,...,Not Done,NaN,NaN,NaN,51.0,NaN,Complete,NaN,81151_0,0
2943,81152,Virginia Commonwealth University,Week 0,NaN,NaN,Yes,NaN,2022-09-16,NaN,2022-09-16,...,NaN,NaN,NaN,NaN,165.0,NaN,Complete,NaN,81152_0,0
2944,81153,Virginia Commonwealth University,Week 0,NaN,NaN,Yes,NaN,2022-09-21,NaN,2022-09-20,...,NaN,NaN,NaN,NaN,48.0,NaN,Complete,NaN,81153_0,0

In [43]:
import math 
test_count = 0
for index,row in tqdm(follow_up_node_pd.iterrows(),total=follow_up_node_pd.shape[0],desc="process Molecular_test node"):
    molecular_test_type = 'molecular_test'
    project_id = 'ARDaC-AlcHepNet' 
    molecular_test_follow_ups_submitter_id = row[2]
    #print(molecular_test_follow_ups_submitter_id)
    
    for index_lab,row_lab in labs_df.iterrows():
            patient_id = molecular_test_follow_ups_submitter_id.split('_')[0]
            followup_day = molecular_test_follow_ups_submitter_id.split('_')[-1]
            if str(row_lab.usubjid) == patient_id and str(row_lab.days_to_follow_up) == followup_day:
                labs_row = labs_df.iloc[[index_lab]]
                break
    
    #follow up does not have a molecular test result
    if labs_row.empty:
        test_count = 0
        continue
    else:
        test_list = ['inr','pt','albumin','bili_tot','bili_dir','creat','est_gfr','alt','ast','alkaline','protein_tot','bun']
        for item in test_list:
            if item != 'bun':
                lab_value = check_lab_result(labs_row, item)
                lab_result = check_lab_result(labs_row, item+'_norm')
            else:
                lab_value = check_lab_result(labs_row, item)
                lab_result = [np.nan,np.nan]
                
            if  lab_result[1] == lab_result[1] or lab_value[1] == lab_value[1]: #either test value or test result has a value, run code below.
                laboratory_test = lab_value[0]
                test_result = lab_result[1]
                test_value = lab_value[1]
                
                submitter_id = row[2] + '_' + str(laboratory_test)   #row[2] is '*submitter_id'
                #test_count += 1
                molecular_test_row = row_init(len(molecular_test_node.axes[1]))
                molecular_test_row = set_column_value(molecular_test_node, '*type', molecular_test_row, molecular_test_type)
                molecular_test_row = set_column_value(molecular_test_node, 'project_id', molecular_test_row, project_id)
                molecular_test_row = set_column_value(molecular_test_node, '*submitter_id', molecular_test_row, submitter_id)
                molecular_test_row = set_column_value(molecular_test_node, '*follow_ups.submitter_id', molecular_test_row, molecular_test_follow_ups_submitter_id)

                molecular_test_row = set_column_value(molecular_test_node, 'laboratory_test', molecular_test_row, laboratory_test)
                molecular_test_row = set_column_value(molecular_test_node, 'test_value', molecular_test_row, test_value)

                molecular_test_row = set_column_value(molecular_test_node, 'test_result', molecular_test_row, test_result)
                molecular_test_node.loc[len(molecular_test_node.index)] = molecular_test_row
        #test_count = 0

process Molecular_test node: 100%|██████████| 2797/2797 [04:33<00:00, 10.23it/s]

In [44]:
#add aki cyctatin-C into molecular_test
for index,row in tqdm(aki_cystatin_df.iterrows(),total=aki_cystatin_df.shape[0],desc="process aki barcode"):
    molecular_test_type = 'molecular_test'
    project_id = 'ARDaC-AlcHepNet' 
    
    pat_id = row['Subject ID']
    index_day = row['Last Time point for every subject']
    if 'Base line' in index_day:
        index_day = str(0)
    elif 'day' in index_day:
        index_day = str(index_day.split(' ')[0])
    molecular_test_follow_ups_submitter_id = str(pat_id) + '_clinical_' + index_day
    submitter_id = molecular_test_follow_ups_submitter_id + '_cystatin-c'
    laboratory_test = 'Cystatin-C'
    test_value = row['Plasma Conc (mg/L)']
    test_unit = 'mg/L'
    barcode = row['Barcode']
    
    molecular_test_row = row_init(len(molecular_test_node.axes[1]))
    molecular_test_row = set_column_value(molecular_test_node, '*type', molecular_test_row, molecular_test_type)
    molecular_test_row = set_column_value(molecular_test_node, 'project_id', molecular_test_row, project_id)
    molecular_test_row = set_column_value(molecular_test_node, '*submitter_id', molecular_test_row, submitter_id)
    molecular_test_row = set_column_value(molecular_test_node, '*follow_ups.submitter_id', molecular_test_row, molecular_test_follow_ups_submitter_id)
    molecular_test_row = set_column_value(molecular_test_node, 'laboratory_test', molecular_test_row, laboratory_test)
    molecular_test_row = set_column_value(molecular_test_node, 'test_value', molecular_test_row, test_value)
    molecular_test_row = set_column_value(molecular_test_node, 'test_unit', molecular_test_row, test_unit)
    molecular_test_row = set_column_value(molecular_test_node, 'aliquots.submitter_id', molecular_test_row, barcode)
    
    molecular_test_node.loc[len(molecular_test_node.index)] = molecular_test_row

process aki barcode: 100%|███████████████████| 192/192 [00:00<00:00, 241.99it/s]

In [45]:
for index,row in tqdm(molecular_test_node.iterrows(),total=molecular_test_node.shape[0],desc="Cleaning Molecular Test Node"):
    if row.laboratory_test == 'albumin':
        molecular_test_node.at[index,'laboratory_test'] = 'Albumin'
    if row.laboratory_test == 'alkaline':
        molecular_test_node.at[index,'laboratory_test'] = 'Alkaline Phosphatase'
    if row.laboratory_test == 'alt':
        molecular_test_node.at[index,'laboratory_test'] = 'ALT'
    if row.laboratory_test == 'ast':
        molecular_test_node.at[index,'laboratory_test'] = 'AST'
    if row.laboratory_test == 'bili_dir':
        molecular_test_node.at[index,'laboratory_test'] = 'Direct Bilirubin'
    if row.laboratory_test == 'bili_tot':
        molecular_test_node.at[index,'laboratory_test'] = 'Total Bilirubin'
    if row.laboratory_test == 'bun':
        molecular_test_node.at[index,'laboratory_test'] = 'BUN'
    if row.laboratory_test == 'creat':
        molecular_test_node.at[index,'laboratory_test'] = 'Creatinine'
    if row.laboratory_test == 'est_gfr':
        molecular_test_node.at[index,'laboratory_test'] = 'Estimated GFR'
    if row.laboratory_test == 'inr':
        molecular_test_node.at[index,'laboratory_test'] = 'INR'
    if row.laboratory_test == 'protein_tot':
        molecular_test_node.at[index,'laboratory_test'] = 'Total Protein'
    if row.laboratory_test == 'pt':
        molecular_test_node.at[index,'laboratory_test'] = 'Prothrombin Time'

Cleaning Molecular Test Node: 100%|█████| 21306/21306 [00:02<00:00, 8035.00it/s]

In [46]:
molecular_test_node_path = os.path.join(OUT_PATH, 'molecular_test_node.tsv')
molecular_test_node.to_csv(molecular_test_node_path, sep = '\t', index=False)
molecular_test_node

,*type,project_id,*submitter_id,aliquots.submitter_id,*follow_ups.submitter_id,blood_test_normal_range_lower,blood_test_normal_range_upper,days_to_test,gene_symbol,laboratory_test,molecular_analysis_method,test_result,test_unit,test_value
0,molecular_test,ARDaC-AlcHepNet,11001_obs_0_inr,None,11001_obs_0,None,None,None,None,INR,None,Normal,None,1.0
1,molecular_test,ARDaC-AlcHepNet,11001_obs_0_pt,None,11001_obs_0,None,None,None,None,Prothrombin Time,None,Normal,None,10.3
2,molecular_test,ARDaC-AlcHepNet,11001_obs_0_albumin,None,11001_obs_0,None,None,None,None,Albumin,None,Normal,None,4.3
3,molecular_test,ARDaC-AlcHepNet,11001_obs_0_bili_tot,None,11001_obs_0,None,None,None,None,Total Bilirubin,None,Abnormal,None,2.4
4,molecular_test,ARDaC-AlcHepNet,11001_obs_0_bili_dir,None,11001_obs_0,None,None,None,None,Direct Bilirubin,None,Abnormal,None,0.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21301,molecular_test,ARDaC-AlcHepNet,81077_clinical_0_cystatin-c,81077R000PP06,81077_clinical_0,None,None,None,None,Cystatin-C,None,None,mg/L,0.887778
21302,molecular_test,ARDaC-AlcHepNet,81080_clinical_0_cystatin-c,81080R000PP06,81080_clinical_0,None,None,None,None,Cystatin-C,None,None,mg/L,1.389773
21303,molecular_test,ARDaC-AlcHepNet,81091_clinical_0_cystatin-c,81091R000PP06,81091_clinical_0,None,None,None,None,Cystatin-C,None,None,mg/L,1.682618
21304,molecular_test,ARDaC-AlcHepNet,81096_clinical_0_cystatin-c,81096R000PP06,81096_clinical_0,None,None,None,None,Cystatin-C,None,None,mg/L,2.391333
21305,molecular_test,ARDaC-AlcHepNet,81108_clinical_0_cystatin-c,81108R000PP04,81108_clinical_0,None,None,None,None,Cystatin-C,None,None,mg/L,1.411889